# avoid hidden files and folders (.settings, .classpath, .project, ...)
.*

# avoid bin folder
bin/

# avoid csv files:
*.csv
/bin/


# avoid .project file
.project

# avoid .classpath file
.classpath

# ignore auxiliary.sql
sql/auxiliary.sql

# ignore doc
doc/